{% extends 'base.html' %} {% block title %}POST{% endblock %} {% block content%}

<div class="container-custom">
  <div class="row">
    <div class="col s12 m10">
      <h3>{{post.title}}</h3>

      <p>({{post.cat.title}})</p>

      <img src="/media/{{post.image}}" class="responsive-img" alt="/" />

      <br />

      <p>{{post.content | safe}}</p>

      <div>
        
          <div class="row">
            <form method="POST" class="col s12">
              {% csrf_token %}
              <div class="row">
                <div class="input-field col s6">
                  <input id="input_text" type="text" name="name" data-length="10">
                  <label for="input_text">Enter Name</label>
                </div>
                <div class="input-field col s6">
                  
                  <input id="input_text" type="text" name="email" data-length="10">
                  <label for="input_text">Enter E-mail</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <textarea id="textarea2" class="materialize-textarea" name="comment" data-length="120"></textarea>
                  <label for="textarea2">Add Comment</label>
                </div>
              </div>
              <button class="btn bg-primary" type="submit">Comment</button>
            </form>
            {% for message in messages%}
            <p style="color:red;">{{message}}</p>
            {% endfor %}
          </div>
          
        
        <h3><strong>Comments</strong></h3>
        {% for comment in comments %}
        <div  style="display: flex;">
        <button class="fa-regular fa-user-crown button1 com">{{comment.name}}</button>
         <p class="com"><i>{{comment.email}}</i></p>
        </div>
        
         <p id = "2" class="com2">{{comment.date}}</p>
         <label for="2">Comment:</label>
         
         <p style="border-style: ridge;border-radius: 0%;margin-left: 31px;border-color: #fdeded;border-style: outset;border-width: 2px;"><strong >{{comment.comment}}</strong></p>
        <hr>
        {% endfor %}
        

      </div>

      <div class="logo" ><br>
        <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}" class="fa fa-facebook" ></a><br><br>

           <a href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}" data-action="share/whatsapp/share" title="Share on whatsapp" class="fa fa-whatsapp" title="Facebook" target="_blank"> </a><br><br>
        
          <a href="https://twitter.com/share?url={{request.build_absolute_uri}}" class="fa fa-twitter" title="Twitter" target="_blank"></a><br><br>
        
          
      </div>
    </div>

    <div class="col s12 m2">
      {% for p in cats %}

      <div class="card item">
        <div class="img-container new-img">
          <img src="/media/{{p.image}}" class="responsive-img" alt="" />
        </div>
        <div class="card-content">
          <div class="card-title"><b>{{p.title}}</b></div>

          <p class="truncate">{{p.description}}</p>

          <div class="container center-align mt20">
            <a href="/category/{{p.url}}" class="btn bg-primary"> VIEW </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
