{% extends 'payment/new.html' %}

{% block content %}


<head>
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="center">

    <form class="text-center border border-light p-5" action="success" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> BUY ME A COFFEE!!</p>
        <p class="mb-3">Help us create more videos by donating 500 INR</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_9nmrK825fjo0Ym"
            data-amount="50000" data-currency="INR" data-order_id="{{payment.id}}" data-buttontext="Pay with Razorpay"
            data-name="Professional Cipher" data-description="Django and Data Science"
            data-image="https://example.com/your_logo.jpg" data-prefill.name="PC" data-prefill.email="pc@studygyaan.com"
            data-theme.color="#F37254"></script>
    </form>

</div>


</div>
{% endblock %} 


{% comment %} 

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <style>
        .w3-container {
            font-size: 14px;
        }

        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="center">
        <h3 class="donate">
            <div class="w3-card-4">

                <header class="w3-container w3-blue">
                    <h1>DONATE</h1>
                </header>

                <div class="w3-container">
                    <p>Donate for a great cause. Be a hero.</p>

                    <!-- PAYPAL BUTTONS HERE  -->

                    <div id="paypal-button-container"></div>

                    <!-- Include the PayPal JavaScript SDK -->
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=ARQtv6ATCMgVdQfeC_X0VJJhptYPqRGHVCYR8_WIKZ3bqtxSmchkHOy77tFoPimHtJUG9mGCiBF4yluN&currency=USD">
                    </script>

                    <script>
                        // Render the PayPal button into #paypal-button-container
                        paypal.Buttons({

                            // Set up the transaction
                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '50'
                                        }
                                    }]
                                });
                            },

                            // Finalize the transaction
                            onApprove: function (data, actions) {
                                return actions.order.capture().then(function (details) {
                                    // Show a success message to the buyer
                                    alert('Transaction completed by ' + details.payer.name
                                        .given_name + '!');
                                });
                            }


                        }).render('#paypal-button-container');
                    </script>

                </div>

                <footer class="w3-container w3-blue">
                    <h5>&copy Professional Cipher</h5>
                </footer>

            </div>
        </h3>

    </div> {% endcomment %}

{% comment %} </body>
 {% endcomment %}

